<%- include('./includes/head.ejs') %>

<body>
    <div class="container">
        <main>
            <h1>This is an API playground.</h1>
            <p>Right now, there's only the bitcoin exchange api live, but there is more coming.</p>
            <p>Access the bitcoin API <a href="bitcoin">here</a>.</p>

        </main>
    </div>
    <%- include('./includes/footer.ejs') %>