body {
     background-color: #2e294e; /* space cadet */
    color: #debac0; /* cameo pink */
}

h1 {
    margin: 20px auto;
}

.container {
    max-width: 950px;
    border: solid silver 2px;
    margin: 0 auto;
    padding: 20px;
}

.coinform {
    margin: 0 auto;
}